<div class="home-banner-container">
  <div class="banner-content d-flex justify-content-center align-items-center position-relative">
      <p class="position-absolute top-left">list all cocktails</p>
      <p class="position-absolute top-right">create new cocktail</p>
      <p class="position-absolute bottom-left">create new cocktail</p>
      <p class="position-absolute bottom-right">create new cocktail</p>
      <h1 class="position-relative banner-title">mocktails du jour</h1>
      <%= image_tag "bg-banner", alt: "Home banner cocktail", class: "banner-img position-absolute" %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
