<div class="container mt-4">
  <h1>All cocktails</h1>

  <%= link_to "+Create new cocktail", new_cocktail_path, class: "mb-4 pb-4" %>

  <% @cocktails.each do |cocktail| %>
   <p class="mt-2"> <%= cocktail.name %> </p>
   <%= link_to "See details", cocktail_path(cocktail) %>
  <% end %>
</div>
