<div class="container mt-4">
  <h1><%= @cocktail.name %></h1>
  <%= link_to "+add ingredient", new_cocktail_dose_path(@cocktail) %>

  <h3>Ingredients</h3>

  <!-- Line below renders the doses/_dose.html.erb partial -->
  <%= render @cocktail.doses %>
</div>
