<div class="footer mt-4">
  <div class="footer-links">
    <a href="https://github.com/juancarlosasensio"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/juancarlosasensio/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by me
  </div>
</div>
